@import "tailwindcss";

@theme {
  --color-primary: #2F3EE3;
  --color-primary-hover: #2b3acc;
  --color-background: #FFFFFF;
  --color-foreground: #F5F5F7;
  --color-text-primary: #000000;
  --color-text-secondary: #87878F;
  --font-sans: var(--font-outfit), var(--font-prompt), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}