@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #0e0e0e;
  --primary: rgb(29, 63, 215);
  --accent-green: #00ffb7;
  --border: #323232;
  --border-highlight: #3d5de8;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}
@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent-green: var(--accent-green);
  --color-border: var(--border);
  --color-border-highlight: var(--border-highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-star-movement-bottom: star-movement-bottom linear infinite alternate;
  --animate-star-movement-top: star-movement-top linear infinite alternate;
  --animate-shine: shine 5s linear infinite;
}

* {
}

body {
  background: var(--background);
  color: var(--color-white);
  font-family: Poppins, Helvetica, sans-serif;
}

.pill {
  background: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  border: var(--border) 1px solid;
  width: fit-content;
}

.card {
  background: var(--foreground);
  border-radius: 1.5rem;
  padding: 2rem;
  border: var(--border) 1px solid;
  overflow: clip;
}

.cta {
  background: var(--primary);
  color: var(--color-white);
  font-weight: 600;
  padding: 0.7rem 1.4rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cta:hover {
  background: #172f99;
  transform: scale(0.98);
}

section {
  margin: auto;
  max-width: 64rem;
  padding: 6rem 1rem;
}

p {
  color: #bfbfbf;
  line-height: 2;
}

input,
textarea {
  background: var(--background);
  border: var(--border) 1px solid;
  padding: 0.7rem;
  border-radius: 0.75rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: var(--primary) 1px solid;
}

label {
  font-size: 0.875rem;
  font-weight: 600;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* gradient text for h1*/

.shaded {
  background: linear-gradient(
    90deg,
    var(--color-white),
    var(--color-slate-300)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 0.5rem;
}

.wrapper {
  background: #080808;
}
